<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yukio.cms.mapper.NewsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yukio.cms.entity.News">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="type" property="type" />
        <result column="channel_id" property="channelId" />
        <result column="labels" property="labels" />
        <result column="created_time" property="createdTime" />
        <result column="submited_time" property="submitedTime" />
        <result column="status" property="status" />
        <result column="publish_time" property="publishTime" />
        <result column="reason" property="reason" />
        <result column="article_id" property="articleId" />
        <result column="images" property="images" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, title, content, type, channel_id, labels, created_time, submited_time, status, publish_time, reason, article_id, images
    </sql>
</mapper>
